# Бинарные файлы
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
*.bin

# Директории с бинарниками (если используете)
/bin/
/dist/

# Зависимости (если используете vendor)
/vendor/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Системные файлы
.DS_Store
Thumbs.db

# Логи и временные файлы
*.log
tmp/

# Файлы покрытия тестов
coverage.out
cover.html
coverage.html
*.coverprofile
*.cov

# Файлы профилирования
*.prof
cpu.prof
mem.prof

# Временные файлы сборки
*.tmp
*.temp

# Другие 
api.http
src/templates/static/dist/js/
src/templates/static/dist/css/
src/templates/static/dist/manifest.json